body{
  font-size: 14px;
}

*{
  box-sizing: border-box;
}

.main,
.content
#container{
  position: relative;
}

#container{
  margin: 0 auto;
  width: 1000px;
}

#template{
  display: none;
}
.new {
  width: 1000px;
  margin: 0 auto;
}

.main>div,.new {
    height: 40px;
    background: rgba(0,0,0,0.2);
    line-height: 40px;
}
.status {
    text-align: center;
}

.title p {
    width: 100%;
    line-height: 40px;
    height: 40px;
    margin: 0;
}
.title p.done{
    text-decoration: line-through;
}

.title input[type="text"] {
    height: 34px;
    line-height: 34px;
    width: 100%;
}

select {
    -webkit-appearance: none;
    height: 40px;
    line-height: 40px;
    padding: 0 10px;
}

.priority {
    text-align: center;
}

.deadline input {
  width: 100%;
}

.add, .tag {
  border-radius: 30px;
  background: rosybrown;
  /* width: 30px; */
  height: 30px;
  line-height: 30px;
  text-align: center;
  cursor: pointer;
}

.add{
  width: 30px;
  float: left;
}

.tags{
  padding: 5px;
}

.tag {
    max-width: 120px;
    width: 80px;
    position: relative;
    float: left;
}

.tag .close {
    position: absolute;
    top: 0px;
    width: 20px;
    right: 5px;
    float: right;
    display: none;
    right: 5px;
    color: gray;
}

.tag .close:hover{
  color: red;
}

.tag .text {
    /* float: left; */
    /* line-height: 30px; */
    /* height: 30px; */
}

.tag:hover .close {
    display: block;
}

.tag input[type="text"] {
  height: 20px;
  margin: 5px;
  width: 70px;
  line-height: 25px;
  border: none;
}

.sub {
    background: lavender;
    height: auto;
    display: none;
}

.description p,
.description textarea {
    height: auto;
    display: block;
    line-height: 30px;
    width: 100%;
    padding: 0;
    min-height: 40px;
}

.description {
    height: auto;
    padding: 5px;
}

.show{
  user-select: none;
  cursor: pointer;
}
button{
  height: 30px;
  line-height: 30px;
  margin: 5px;
}
.DESC:after {
    content: '↓';
}

.ASC:after {
    content: '↑';
}
