.main,
.content
#container{
  position: relative;
}

#container{
  margin: 0 auto;
  width: 1000px;
}

#template{
  display: none;
}
/* .tags .add{
  display:block;
  width: 30px;
  height: 30px;
}
.tag{
  min-width: 30px;
  display: block;
}
.tag>div{
  float: left;
}
.close{
  width: 1em;
  height: 1em;
}
 */
